<h1> Songs#show </h1>

<div>
<h2>
<%= @song.artistn%> - "<%= @song.title%>"
<%= raw(@song.link)%>
</h2>
</div>


<h1> Wanna review this song for yourself? go ahead! </h1>
<div class="row posts">
	<div class="col-xs-12 col-md-6 col-md-offset-3">

<section class ="posts">
	<h2> <i class="fa fa-comments-o fa-2x"></i> Comments: <span class="comment-number"><%= @post.comments.size %></span></h2>
	<%if user_signed_in? %>
		<%= render 'comments/form'%>
	<%else %>
		<p class="sign-in-to-comment">You must <%= link_to 'login', new_user_session_path %> to post comments</p>
	<%end%>
	<%= render partial: 'posts/post'%>
</section>

</div></div>