


<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3 post-songtitle-songartist">
				<span><%=@song.artistn%></span> <span> - </span> <span> "<%=@song.title%>"</span>
			</div>
	</div>	
<%= raw(@song.link)%>


<div class = "row posts">
	<%= render partial: "posts/post", collection: @song.posts.order('created_at desc') %>
	<% if user_signed_in? %>
		<%if @song.posts.size < 1 %>
			<h1> Wanna review this song for yourself? go ahead! </h1>
			<%= render "posts/form" %>
		<%end%>
	<%end%>

</div>


<div class="row posts">
	<div class="col-xs-12 col-md-6 col-md-offset-3">

<section class ="comments">
	<h2> <i class="fa fa-comments-o fa-2x"></i> Comments: <span class="comment-number"><%= @song.comments.size %></span></h2>
	<%if user_signed_in? %>
		<%= render 'comments/form'%>
	<%else %>
		<p class="sign-in-to-comment">You must <%= link_to 'login', new_user_session_path %> to post comments</p>
	<%end%>
	<%= render partial: 'comments/comment', collection: @song.comments.order('created_at desc') %>
</section>

</div></div>