<% @posts.each do |p| %>

  <div class="date-container">
    <div class="day-name">  <%= p.created_at.strftime("%a") %> </div>
    <div class="month-name"> <%= p.created_at.strftime("%b") %> </div>
    <div class="day-number"> <%= p.created_at.strftime("%e") %> </div>
  </div>

  <h3 class="index-writing"><%= link_to p, post_path(p) %> 
  <br />
  
    <img src=<%=p.author %>>
    <h4> <%= p.subtitle %> </h4>
    <% if user_signed_in? %>
      <%= if currentid === p.user_id %>
        <%= link_to "Edit", edit_post_path(p) %>
        <%end%>
    <%end%>
    
      <% if admin_signed_in? %>
        <%= p.created_at %>
        <%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' }%> 
      <%end%>
  </h3>

<% end %>

