 	<div class="row posts-index">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8">
				<p> <% @posts.each do |p| %>

  					<div class="date-container">
    					<div class="day-name"> <%= p.created_at.strftime("%a") %> </div>
    					<div class="month-name"> <%= p.created_at.strftime("%b") %> </div>
    					<div class="day-number"> <%= p.created_at.strftime("%e") %> </div>
  					</div>

  					<h3 class="index-writing"><%= link_to p, post_path(p) %>
  					<br />
  
 				   	<img src=<%=p.author %>>
    			   	<h4> <%= p.subtitle %> </h4>
    			   	
    			   	<% if admin_signed_in? %>
        				<%= p.created_at %>
        				<%= link_to "Edit", edit_post_path(p) %>
        				<%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' }%>
    			   	<% elsif user_signed_in? %>
     					<% if p.user === current_user %>
         					<%= link_to "Edit", edit_post_path(p) %>
        				<%end%>
       
    				<%end%>
    
        </h3>

<% end %>
				</p>
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>

	<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="col-xs-6 col-md-3"><i class="fa fa-facebook fa-5x"></i></div>
				<div class="col-xs-6 col-md-3"><i class="fa fa-twitter fa-5x"></i></div>
				<div class="col-xs-6 col-md-3"><i class="fa fa-soundcloud fa-5x"></i></div>
				<div class="col-xs-6 col-md-3"><i class="fa fa-youtube fa-5x"></i></div>
			</div>
	</div>