<h1>Posts#show</h1>


<p>
  <strong><%= @post.title %></strong>
  
</p>
 
<p>
	<%= author_(@post) %>
</p>

<p>
  <%= @post.subtitle %> 

<p>
  <%=@post.artist%> - "<%=@post.song%>"
</p>

<p>
  <%= @post.body %>
</p>




<h2> <%= link_to 'Home', posts_path %> </h2>