	<div class="row">
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-6 post-songtitle-songartist">
				<span><%=@post.artist%></span> <span>-</span> <span>"<%=@post.song%>"</span>
			</div>
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- right side -->
	</div>	

   

	<div class="row">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8 post-title">
				<%= @post.title %>
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-6 post-author">
				<%= author_(@post) %>
			</div>
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- right side -->
	</div>
 
 	<div class="row">
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8 post-subtitle">
				<%= @post.subtitle %> 
			</div>
		<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- right side -->
	</div>

 	<div class="row">
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-6 post-body">
				<p><%= simple_format @post.body %></p>
			</div>
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- right side -->
	</div>

<div class="row">
<div class="col-xs-12 col-md-2 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-8 post-subtitle">

<section class = "comments">
	<h2 id = "commentlabel"> Comments (<span id = "num_comments"> <%= @post.comments.size %> </span>)</h2>
	<%if user_signed_in? %>
		<%= render 'comments/form'%>
	<%else %>
		<p><em> you must <%= link_to 'login', new_user_session_path %> to post comments </em></p>
	<%end%>
	<%= render partial: 'comments/comment', collection: @post.comments.order('created_at desc') %>
</section>

</div>
</div>

 	<div class="row">
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- left side -->
			<div class="col-xs-12 col-md-6 post-body">
				<h2> <%= link_to 'Home', posts_path %> </h2>
			</div>
		<div class="col-xs-12 col-md-3 hidden-xs"></div> <!-- right side -->
	</div>
