<!DOCTYPE html>
<html>
<head>
  <title>Peak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="src/js/jquery.notebook.css">

  <%= csrf_meta_tags %>
</head>

<body>
<section id = "main">
<% [:notice, :alert].each do |level| %>
	<% if flash[level] %>
		<div class = "flash <%= level%>"><%= flash[level] %> </div>
	<%end%>
<%end%>
<%= yield %>
<%= user_logged_in_msg %>
</section>
</body>
</html>
